# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*~

# Logs
*.log*.swp
*.swp
*.loc
*.log

lab3/t[0-9]

#emacs backups:
\#*\#
